.hello {
    color: red;
}

.block-bg {
    background-image: url(./assets/webpack-logo.svg) !important;
}

@font-face {
    font-family: 'iconfont';
    src: url(./assets/iconfont.ttf);
}

.icon {
    font-family: "iconfont";
    font-size: 30px;
}